.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px 60px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__social {
  display: flex;
  flex-direction: column;
}

.footer__list-item {
  display: flex;
  gap: 10px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  color: #fff;
  font-family: "Inter" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 0px;
  margin: 0px 0px 20px;
}

.footer__list-item {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}

.footer__list-item:first-of-type {
  margin-bottom: 16px;
}

.footer__social-icon {
  max-width: 16px;
  height: 16px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  color: inherit;
  text-decoration: none;
  text-decoration-line: none;
}

.footer__social-link:hover {
  animation: social 5s ease-in-out normal;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  text-decoration-line: none;
}

.social__link:hover {
  animation: social 5s ease-in-out normal;
}

.footer__copyright {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 0px;
  margin: 108px 0px 0px;
}
