.recipes {
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif" "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 0px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 0px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}
