.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 32px;
}

.form {
  max-width: 385px;
  margin: 0 auto;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #838383;
}

.form__button {
  max-width: 385px;
  width: 100%;
  background-color: #2f80ed;
  color: #ffffff;
  padding: 0px;
  height: 60px;
  margin: 32px 0 32px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}

.form__button:hover {
  animation: button 1s forwards;
}
.form__fieldset {
  margin: 0px;
  padding: 0px;
  border: none;
}

.form__label_type_checkbox {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 120px;
  border-radius: 2px;
}
