@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes social {
  0% {
    color: black;
  }
  30% {
    color: rgb(36, 34, 34);
  }
  60% {
    color: rgb(120, 117, 117);
  }
  100% {
    color: #c1c1c1;
  }
}
